

#rect {
    width: 200px;
    height: 100px;
    background-color: red;

}

#roue1 {
    display: inline-block;

    position: relative;
     width: 50px;
     height: 50px;
     left: 10px;
     border-radius: 100%;
     border-style: dashed;
     background-color: blue;
     animation-name: rotation-roue;
     animation-duration: 10s;
}

#roue2 {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    left: 80px;
    border-radius: 100%;
    border-style: dashed;
    background-color: blue;
    animation-name: rotation-roue;
    animation-duration: 10s;
}


#voiture {
    top: 150px;
    position: absolute;
    animation-name: direction-voiture;
    animation-duration: 10s;
}


@keyframes direction-voiture {

    0% {
        left: 0;
    }
    20% {
        left: 200px;
    }
    40% {
        left: 600px;
    }
    60% {
        left: 1000px;
    }
    80% {
        left: 1200px;
    }
    100% {
        left: 2000px;
    }
}


@keyframes rotation-roue {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(72deg);
    }
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(216deg);
    }
    80% {
        transform: rotate(288deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#ciel {
    position: absolute;
    background-color: aqua;
    width: 2000px;
    height: 300px;
}

#n1 {
    top: 0;
    left: 20px;
    position: absolute;
    border-radius: 100%;
    background-color: white;
    width: 50px;
    height: 50px;
}

#n2 {
    top: 25px;
    left: 0;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    width: 50px;
    height: 50px;
}

#n3 {
    top: 25px;
    left: 50px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    width: 50px;
    height: 50px;
}

#n4 {
    top: 50px;
    left:30px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    width: 50px;
    height: 50px;
}

#nuage {
    position: absolute;
    animation-name: nuage;
    animation-duration: 20s;
}



@keyframes nuage {
    0% {
        left: 0;
    }
    5% {
        left: 100px;
    }
    10% {
        left: 200px;
    }
    15% {
        left: 300px;
    }
    20% {
        left: 400px;
    }
    25% {
        left: 500px;
    }
    30% {
        left: 600px;
    }
    35% {
        left: 700px
    }
    40% {
        left: 800px;
    }
    45% {
        left: 900px;
    }
    50% {
        left: 1000px;
    }
    55% {
        left: 1100px;
    }
    60% {
        left: 1200px;
    }
    65% {
        left: 1300px;
    }
    70% {
        left: 1400px;
    }
    75% {
        left: 1500px;
    }
    80% {
        left: 1600px;
    }
    85% {
        left: 1700px;
    }
    90% {
        left: 1800px;
    }
    95% {
        left: 1900px;
    }
    100% {
        left: 2000px;
    }
}