#foo {
    width: 250px;
    height: 250px;
    background: red;
    animation-name : foo-animation;
    animation-duration : 8s;
    animation-fill-mode : forwards;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes foo-animation {
    5% {
        width: 265px;
        height:265px;
    }
    25% {
        background : orange;
        width: 150px;
        height: 150px;
    }
    75% {
        width: 200px;
        height: 200px;
        left:5px
    }
    100% {
        width:25px;
        height : 25px;
        background : purple;
        top:50px;
        left:65px
    }
}

#bar {
    width: 85px;
    height: 85px;
    background : blue;
    position: absolute;
    left: 500px;
    top: 25px;
    animation-name : bar-animation;
    animation-duration : 3s;
    animation-delay: 500ms;
    animation-fill-mode : backwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
}

@keyframes bar-animation {
    10% {
        background: lightgray;
        width: 100px;
        height: 100px;
        transform: rotate(45deg);
    }
    30% {
        background: red;
        width: 115px;
        height: 115px;
        transform: rotate(90deg);
    }
    50%{
        background: black;
        width: 100px;
        height: 100px;
        transform: rotate(180deg);
    }
    75% {
        background: blue;
        width: 85px;
        height: 85px;
        transform: rotate(-270deg);
    }
    100% {
        background: yellow;
        width: 70px;
        height: 70px;
        transform: rotate(-360deg);
    }
}